*{

font-family: 'Rajdhani', sans-serif;
}
/*Loader Css*/
.loader{
background: linear-gradient(rgba(255,255,255,.95),rgba(255,255,255,.95)),url(../images/hero-bg.jpg) center center no-repeat;
background-size: cover;
position: fixed;
text-align: center;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
width: 100%;
height: 100vh; 
display: flex;
justify-content: center;
align-items: center;
}
.loader img{
width: 200px;
height: 150px;
animation: loader 1.2s infinite;
}
@keyframes loader{
0% {
-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 
90deg
);
transform: perspective(400px) rotate3d(0, 1, 0, 
90deg
);
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
opacity: 0;
}

40% {
-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 
-20deg
);
transform: perspective(400px) rotate3d(0, 1, 0, 
-20deg
);
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
}
60% {
-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 
10deg
);
transform: perspective(400px) rotate3d(0, 1, 0, 
10deg
);
opacity: 1;
}
80% {
-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 
-5deg
);
transform: perspective(400px) rotate3d(0, 1, 0, 
-5deg
);
}
100% {
-webkit-transform: perspective(400px);
transform: perspective(400px);
}

}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6{
color: #023b6d;
}
.navbar{
top: 0;
background: linear-gradient(rgba(255,255,255,.95),rgba(255,255,255,.95)),url(../images/hero.jpg) top center no-repeat;
background-size: cover;
z-index: 997;
box-shadow: 0 0 15px 0 rgb(2 59 109 / 12%);
color: #023b6d;
align-items: center;
}
.navbar ul {
list-style: none;
}
.navbar-nav{
margin-left: auto;
}

.navbar ul li a
{
font-size: 17px;
font-weight: 500;
padding: 5px;
}
.navbar ul li{
padding: 10px;
}
.navbar .nav-item .nav-link{
color: #023b6d;
}
.navbar .btn{
outline: none;
padding: 15px;
background: #f6fbfc;
width: 120px auto;
height: 50px;
color: #023b6d;
font-size: 17px;
font-weight: 500;
border: 1px solid #0364b8;
margin-left: 35px;
margin-right: 35px;
margin-bottom: 10px;
margin-top: 10px;
transition: .5s all ease-in-out;
}
.navbar .btn:hover{
box-shadow: 0 15px 20px 0 rgb(31 53 158 / 11%);
background: #0364b8;
color: #fff;
border-radius: 5px;
transition: 1s all ease-in-out;
outline: none;
}
.navbar .btn .far{
padding-right: 5px;
}
.navbar .dropdown .fa{
color: #009bd9;
padding-left: 5px;
padding-right: 5px;
}
/*.navbar .dropdown ul{
width: 100% auto;
position: absolute;
top: calc(100% - 8px);
padding: 15px;
height: auto;
box-shadow: 0 0 15px 0 rgb(2 59 109 / 10%);
}*/

.navbar .dropdown .dropdown-menu ul li{
list-style: none;
padding: 5px;
flex: 0 50%;
align-items: center;
/*padding: 8px 0;*/
display: block;
}
.navbar .dropdown .dropdown-menu ul h4{
/*margin-bottom: 15px;*/
text-transform: uppercase;
color: #023b6d;
font-weight: 700;
}
.navbar .dropdown .dropdown-menu .dropdown-item{
text-decoration: none;
color: #023b6d;
font-size: 17px;
}
.navbar .dropdown .dropdown-menu span{  
text-transform: uppercase;
}
.text-gray-400{
color: gray;
opacity: 0.5;
}
.navbar ul>li.dropdown > a:after{
position: relative;
float: right;
content: "";
margin-left: 10px;
margin-top: 8px;

}
.navbar ul .dropdown-menu {
flex: 0 20%;
align-items: center;
background: #fff;
text-align: left;
border-top: 5px solid #009bd9;
box-shadow: 0 0 15px 0 rgb(2 59 109 / 10%);
z-index: 1;
position: absolute;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap: wrap;
width: auto;
top: -9999px;
left: 0;


}
.navbar ul li:hover ul.dropdown-menu{
top: 100%;
}
.navbar ul .dropdowm-menu ul li{
display: block;
text-decoration: none;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover{
color: #009bd9;
}

.navbar .dropdown ul li a:hover{
color: #009bd9;
}

a {
transition: .5s;
text-decoration: none;
text-decoration-color: none;
}

.logo{
color: #173058;
display: flex;
}
.logo p{
font-size: 24px;
font-weight: 600;
margin: 0 0 0 -8px;
padding-top: 10px;
letter-spacing: -.5px;
text-transform: uppercase;
}
.logo p:hover{
color: #009bd9;
}
.logo p span{
color: #71706e !important;
}

.page-header{
padding: 30px 0 15px 0;
margin-bottom: 30px;
background: #fff;
color: #023b6d;
border-bottom: 2px solid #e0f0fe;
position: relative
}
.page-header:after{
content: '';
position: absolute;
display: block;
width: 40px;
height: 2px;
background: #009bd9;
border-right: 3px solid #fff;
bottom: -2px;
left: 0;
}
.page-header .page-title{
font-size: 27px;
padding: 0;
margin: 0;
color: #023b6d;
font-weight: 600;
background: #fff;
}
.page-content{
font-size: 18px;
font-weight: 300;
}

/*services*/

.service-card .card {
background-color: #f4faff;
position: relative;
z-index: 11;
/*padding-top: 15px;*/
/*padding-bottom: 30px;*/
box-shadow: 0 13px 18px 0 rgb(31 53 158 / 11%);
border-radius: 5px;
overflow: hidden;
border: none;
cursor: pointer;
transition: .5s;
}
.service-card .card .card-title{
font-weight: 500;
color: #023b6d;
}
.service-card .card .card-text{
font-size: 15px;
}
.service-card h3{
color: #023b6d;
}
.service-card .card a{
background: #fff;
color: #023b6d;
border-radius: 50px;
font-size: 25px;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
cursor: pointer;
display: inline-flex;
margin-bottom: 10px;
}
.service-card .card i{
vertical-align: middle;
}
.service-card .card .fa{
width: 20px;
height: 20px;
}
.service-card .card:hover{
transform: scale(1.1);
transition: .7s;
}

/*school-card*/
#school-card .card{
box-shadow: 0 20px 30px rgb(2 59 109 / 10%);
transition: box-shadow .3s ease-in-out;
height: 100% auto;
width: 100%;
background: #fff;
border-radius: 5px;
overflow: hidden;
border: none;
cursor: pointer;
}
#school-card .card:hover{
box-shadow: 0 20px 40px rgb(2 59 109 / 50%);

}
#school-card .card:hover .card-img-top:before{
	  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#school-card .card h3{
margin: 0;
font-size: 17px;
font-weight: 700;
line-height: 30px;
padding: 20px;
color: #023b6d;
}
.card-img-top{
border: 1px solid #f2f2f2;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
#school-card a{
text-decoration: none;
color: #212529;
}
#school-card .card .btn{
background-color: #cde2f3;
outline: none;
border-radius: 50px;
color: #023b6d;
width: 200px;
height: 50px;
font-weight: 500;
font-size: 20px;
letter-spacing: 1px;
transition: 2s;
}
#school-card .card .btn:hover{
background-color: #009bd9; 
outline: none;
color: #fff;
transition: 4s;
}
#school-card .view{
background-color: transparent;
outline: none;
border: 2px solid #009bd9;
border-radius: 10px;
color: #009bd9;
width: 200px;
height: 50px;
font-weight: 600;
font-size: 20px;
letter-spacing: 1px;
transition: 2s;
text-align: center;
display: block;
margin: 24px auto 0;
transition: 1s;
}
#school-card .view:hover{
  background-color: #009bd9;
  color: #fff;
  transition: 1s;
}
/*school-cad end */

/*  FAQ`s accordion*/
#faqs .accordion{
width: 100%;
padding: 0 5px;
border: none;
cursor: pointer;
border-radius: 5px;
/*display: flex;*/
margin: 10px 0;
}
#faqs .accordion-item {
background-color: #fff;
border: none;
}
#faqs .accordion-button {
outline: none;
position: relative;
display: flex;
align-items: center;
width: 100%;
padding: 1rem 1.25rem;
font-size: 20px;
letter-spacing: 1px;
font-weight: 700;
color: #023b6d;
text-align: left;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
overflow-anchor: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}


#faqs .accordion-body{
top: 0;
box-shadow: 18px 18px 15px 0 rgb(0 0 0 / 5%);
border-left: 5px solid #009bd969 !important;
border-radius: 10px;
width: 100%;
margin-left: 25px;
transition: all .5s ease-in;
}
.inner{
text-align: left;
font-size: 15px;
font-weight: 500;
letter-spacing: 1px;
padding: 0 15px;
max-width: 800px;
}
#faqs .far{
  padding-right: 10px;
  color: #009bd969;
}

/*  FAQ`s accordion End */

/*about*/
#about .row{
   background: linear-gradient(rgba(255,255,255,.80),rgba(255,255,255,.80)),url(../images/about-bg.png) center center no-repeat;
 background-size: cover;
}
#about img{
  border-radius: 8px;
  height: auto;
  cursor: pointer;
}
#about h3{
  font-weight: 600;
}
.about{
    background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)),url(../images/cta-bg.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    color: #fff;
}
.about h3{
  color: #fff;
  font-weight: 700;
}
#banner{
margin: 10px;
margin-top: 0;
}
#banner .top-banner{
background: linear-gradient(rgba(255,255,255,.95),rgba(255,255,255,.95)),url(../images/hero-bg.jpg) center center no-repeat;
box-shadow: 0 20px 30px rgb(2 59 109 / 10%);
background-size: cover;
padding: 80px 20px;
width: 100%;
height: 200px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
text-align: center;
}
#banner .top-banner h1{
color: #024986 !important;
font-size: 45px;
font-weight: 700;
margin-left: 25px;

}
#banner ul li{
list-style: none;
display: inline-block;

}
#banner li{
padding: 3px;
border-right: 2px solid #eee;
}
#banner li:last-child{
border-right: none;
}
#banner li a{
color: #ccc;
}
#banner .active {
color: #009bd9;
font-weight: 500;
}
/*about end*/

/*contact*/
#contact .row{
  background:linear-gradient(rgba(255,255,255,.75),rgba(255,255,255,.75)),url(../images/contact-bg.png) left top no-repeat;
  position: relative;
}
#contact .contact-form{
box-shadow: 0 20px 30px rgb(2 59 109 / 10%);
border-radius: 10px;
cursor: pointer;
}
#contact form{
margin: 15px;
padding: 15px;
}
#contact .btn{
background: #009bd9c2;
color: #fff;
font-weight: 500;
font-size: 17px;
width: 130px;
height: 40px;
border-radius: 5px;
transition: 1s all ease-in-out;
}
#contact .btn:hover{
background: #f4faff;
color:  #023b6d;
transition: 1s all ease-in-out;
}
#contact .info{
display: flex;
}
#contact .icon{
width: 67px;
height: 65px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
color: #fff;
font-size: 18px;
background-image: linear-gradient( 90deg,rgb(6 157 217) 0%,rgb(91 196 239) 51%,#009bd9 100%);
background-size: 200% auto;
transition: all 500ms ease;
}
#contact .icon-title{
padding-left: 10px;
}
#contact .icon-title h3{
font-weight: 700;
}
#contact .icon-title h4{
font-weight: 600;
}
/*contact end*/


#hero{
background: linear-gradient(rgba(255,255,255,.85),rgba(255,255,255,.85)),url(../images/cta-bg.jpg) top center no-repeat;
background-size: cover;
top: 0;
padding: 80px 20px;
width: 100%;
/*height: 80vh;*/
position: relative;
text-align: center;
margin-top: 50px;
margin-bottom: 30px;
}
#hero h1{
font-size: 45px;
font-weight: 600;
color: #024986 !important;
}
#hero span{
color: #71706e !important;
}
#hero img{
vertical-align: center;
}
#hero .btn-primary {
font-size: 17px;
font-weight: 500;
text-transform: capitalize;
letter-spacing: .8px;
padding: 10px 25px;
background: #024986;
border-radius: 3px;
}
#hero p {
font-size: 20px;
line-height: 26px;
margin: 0 auto 20px auto;
font-weight: 400;
max-width: 800px;
color: #024681;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .loader img{
    width: 170px;
    height: 135px;
  }
  #hero h1{
  	font-size: 35px;
  }
  #hero {
    height: auto;
  }
  #hero p{
  	font-size: 17px;
    /*line-height: 30px;*/
  }
  #hero .btn-primary{
  	font-size: 15px;
  	padding: 10px 15px;
  }
  #hero img{
  	width: 150px;
  	height: 100px;
  }
}


/*footer*/
#footer{
background: linear-gradient(rgba(255,255,255,.95),rgba(255,255,255,.95)),url(../images/hero.jpg) top center no-repeat;
background-size: cover;
margin-top: 30px auto;

}
.footer-about{
margin-top: 30px;
margin-bottom: 30px;
}
.footer-about .description{
font-size: 15px;
line-height: 24px;
margin: 10px 0 0 0;
}
.social-links a{
background: #fff;
color: #023b6d;
margin-right: 5px;
border-radius: 50px;
text-align: center;
width: 40px;
height: 40px;
transition: .5s ease-in-out;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.social-links i{
vertical-align: middle;
}
.social-links .fa{
width: 18px;
height: 18px;
}
.social-links a:hover{
background: #023b6d;
color: #fff;
margin-top: 10px;
cursor: pointer;
transition: .7s ease-in-out;
}
.footer-top h3{
margin-top: 30px;
margin-left: 10px;
font-size: 20px;
font-weight: 600;
position: relative;
padding-bottom: 12px;
color: #022d54;
}
.footer-nav{
margin-bottom: 30px;
}
.footer-nav ul{
list-style: none;
padding: 0;
margin-left: 10px;
}
.footer-nav li:first-child{
padding-top: 0;
}
.footer-nav li{
padding: 6px 0;
display: flex;
align-items: center;
transition: .7s ease-in-out;
}
.footer-nav .fa{
color: #009bd9;
width: 18px;
height: 18px;
margin: 0 2px 0 -5px;
}
.footer-nav a{
transition: .7s;
font-size: 15px;
color: #024986;
}
.footer-nav span{
	text-transform: uppercase;
}
#footer .footer-nav li:hover{
margin-left: 15px;
transition: .7s ease-in-out;
cursor: pointer;
font-weight: 500;

}
#footer .footer-nav li:hover a{
	color: #009bd9;
}
.copyright {
font-size: 15px;
padding: 15px 0;
color: #024986;
font-weight: 500;
}

/*totop*/
#toTop {
display: none;
text-decoration: none;
position: fixed;
bottom: 20px;
right: 2%;
overflow: hidden;
z-index: 999;
width: 40px;
height: 40px;
border: none;
text-indent: 100%;
background: url(../images/up.png) no-repeat 0px 0px;
}
#toTopHover {
display: none;
width: 40px;
height: 40px;
display: block;
overflow: hidden;
float: right;
opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity=0);
}






/*-- /Responsive Design --*/

@media(max-width:1440px){
iframe {
height: 428px;
}

}
@media(max-width:1080px){

iframe {
height: 458px;
}
}
@media(max-width: 991px){
#hero{
padding: 50px 20px;
}

.navbar .btn{
width: 120px;
height: 40px ;
font-size: 15px;
margin-left: 5px;
padding: 0;
}

#banner .top-banner{
padding: 40px 10px;
}
.navbar-nav > li {
margin-right: 0;
text-align: left;
}
.dropdown-menu {
color: #fff;
text-align: left;
border-radius: 0.25rem;
background-color: inherit;
}
.dropdown-menu a {
color: rgba(0,0,0,.7);
}
#faqs .accordion-button{
font-size: 20px;
}
}
@media(max-width:900px){
#banner .top-banner h1{
font-size: 40px;
}
#faqs .accordion-body{
margin-left: 0;
}
#faqs .accordion-button{
font-size: 20px;
}
}
@media(max-width:800px){
#banner .top-banner h1{
font-size: 38px;
}
#faqs .accordion-body{
margin-left: 0;
}
#faqs .accordion-button{
font-size: 18px;
}
}
@media(max-width:768px){
  #contact .icon{
     width: 47px;
     height: 45px;
  }
  #contact .icon-title h3{
  font-size: 20px;
}
#contact .icon-title h4{
font-size: 17px;
}
h3.heading, h2.heading {
font-size: 40px;
letter-spacing: 2px;
}
.navbar-light .navbar-brand {
font-size: 2.5em;
line-height: 40px;
}
.footer-logo a.navbar-brand {
font-size: 2.5em;
line-height: 40px;
}
#banner .top-banner h1{
font-size: 35px;
}
#faqs .accordion-body{
margin-left: 0;
}
#faqs .accordion-button{
font-size: 18px;
}
}
@media(max-width: 736px){

#banner .top-banner h1{
font-size: 35px;
}
#faqs .accordion-body{
margin-left: 0;
}
#faqs .accordion-button{
font-size: 18px;
}
.card-block li{
font-size: 14px;
}
.card-block h3{
font-size: 27px;
}
.card-block .address-text b{
font-size: 15px;
}
}

@media(max-width: 667px){
#banner .top-banner h1{
font-size: 35px;
}
#faqs .accordion-body{
margin-left: 0;
}
#faqs .accordion-button{
font-size: 18px;
}
}
@media(max-width: 640px){

#banner .top-banner h1{
font-size: 35px;
}
.page-header .page-title{
font-size: 25px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 17px;
font-weight: 500;
}
#faqs .accordion-body{
margin-left: 0;
}
}
@media(max-width: 600px){

#banner .top-banner h1{
font-size: 35px;
margin-top: 5%;
}
.page-header .page-title{
font-size: 25px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 17px;
font-weight: 300;
}
#faqs .accordion-body{
margin-left: 0;
}

}
@media(max-width: 568px){

#banner .top-banner h1{
font-size: 32px;
margin-top: 10%;
}
.page-header .page-title{
font-size: 25px;
font-weight: 500;
letter-spacing: 1px;
}
.page-content{
font-size: 17px;
font-weight: 500;
}
#faqs .accordion-body{
margin-left: 0;
}

.navbar-light .navbar-brand {
font-size: 2em;
line-height: 30px;
}
.nav-link {
padding: 0.3rem 1rem;
}
}
@media(max-width:480px){
.page-header .page-title{
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 16px;
font-weight: 300;
}
#faqs .accordion-body{
margin-left: 0;
}

footer{
z-index: 1;
bottom: 0;
}
.footer-logo a.navbar-brand {
font-size: 2em;
line-height: 33px;
}
.footer-nav li {
margin: 0px .5em;
}
ul.footer-nav li a {
font-size: 17px;
letter-spacing: 1px;
}
.logo p{
font-size: 25px;
}
}
@media(max-width:414px){
.page-header .page-title{
font-size: 20px;
font-weight: 500;
letter-spacing: 1px;
}
.page-content{
font-size: 16px;
font-weight: 300;
}
#faqs .accordion-body{
margin-left: 0;
}
.navbar-light .navbar-brand {
font-size: 1.8em;
line-height: 25px;
}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
font-size: 16px;
}
.logo p{
font-size: 25px;
}
}
@media(max-width:384px){

.page-header .page-title{
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 15px;
font-weight: 300;
}
#faqs .accordion-body{
margin-left: 0;
}

.navbar {
padding: 0.2rem 0rem;
}
.navbar-light .navbar-brand {
font-size: 1.5em;
line-height: 22px;
}
.cd-radial-slider-content .wrapper > div {
padding: 5em 3em 0;
}
.cd-radial-slider-content h2, .cd-radial-slider-content h3 {
letter-spacing: 1px;
font-size: 1.5em;
}
.navbar-toggler {
padding: 0.2rem 0.5rem;
font-size: 1rem;
}
.logo p{
font-size: 22px;
}
}
@media(max-width: 375px){
.page-header .page-title{
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 15px;
font-weight: 500;
}
#faqs .accordion-body{
margin-left: 0;
}

.logo p{
font-size: 20px;
}
}
@media(max-width:320px){
.page-header .page-title{
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
}
.page-content{
font-size: 14px;
font-weight: 500;
}
#faqs .accordion-body{
margin-left: 0;
}

.logo p{
font-size: 20px;
}
}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}
@media(max-width:1080px){

}



/*-- //Responsive Design --*/