{ box-sizing :   border-box ; }

 /* Button used to open the contact form - fixed at the bottom of the page */
 .open-button   {
   background-color :   #F44336 ;
   color :   white ;
   padding :   13px 50px ;
   border :   none ;
   font-weight: 600;
   font-size: 17px;
   outline: none;
   cursor :   pointer ;
   opacity :   0.8 ;
   position : static;
   bottom :   23px ;
   right :   28px ;
   width :   150px ;
   letter-spacing: 2px;
 }

 /* The popup form - hidden by default */
 .view-popup   {
   display :   none ;
   position :  absolute;
   top:     10%;
   right :   20% ;
   left:     20%;
   border :   3px solid #f1f1f1 ;
   z-index :   9 ;
 }

 /* Add styles to the form container */
 .form-container   {
   min-height: 400px;
   max-width :   500px auto ;
   padding :   10px ;
   background-color : #FAFAFAFA ;
 }

 /* Set a style for the submit/login button */
  .btn-close   {
color: #F44336;
font-size: 25px;
cursor: pointer;
background-color: #FAFAFAFA;
 }
 .btn-close .fa{
   color: #F44336;
   font-size: 35px;
   padding: 10px;
   text-align: center;
 }

 /* Add a red background color to the cancel button */
 .form-container .cancel   {
   background-color :   red ;
 }

 /* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover   {
   opacity :   1 ;
 }
ul.address {
    margin-top: 1.5em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li:nth-child(1) {
    width: 20%;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 0.95em;
    color: #272727;
    margin-top: 0.9em;
    font-weight: 100;
}
.address-text li a{
    color
}